body {
  font: 16px "Century Gothic", Futura, sans-serif;
  text-align: center;
  margin: 10px 20px;
  min-width: 320px;
  background-color: bisque;
}

h1 {
  font-size: 24px;
  margin-bottom: 25px;
}

ol, ul {
  padding-left: 30px;
}

.game-board {
  width: 300px;
  margin: 0 auto;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(216, 94, 94);
  border: 1px solid #000;
  float: left;
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  font-size: 16px;
}

.game-info {
  display: block;
  width: 150px;
  margin: 10px auto 0;
}
