body {
  font: 16px Roboto, sans-serif;
  text-align: center;
  margin: 10px 20px;
  min-width: 320px;
  background-color: rgb(61, 178, 255);
}

h1 {
  font-size: 26px;
  margin-bottom: 35px;
}

ol {
  width: 120px;
  margin: 0 auto;
  text-align: center;
}
ol, ul {
  padding-left: 15px;
  list-style-type: none;
}

ol, ul ,li {
  margin: 5px 0;
  text-align: center;
}

.game-board {
  width: 270px;
  margin: 0 auto 15px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(255, 42, 42);
  color: blanchedalmond;
  border: 1px solid blanchedalmond;
  float: left;
  font-size: 90px;
  font-weight: bold;
  line-height: 90px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.square:focus {
  outline: none;
}

.square:hover {
  cursor: crosshair;
}

.kbd-navigation .square:focus {
  background: rgb(221, 221, 221);
}

.game {
  font-size: 16px;
}

.game-info {
  display: block;
  width: 150px;
  margin: 10px auto 0;
  font-size: 20px;
  font-weight: 500;
}

li button {
  background: rgb(255, 242, 221);
  outline: none;
  border-radius: 3px;
  font-weight: 700;
  padding: 1px 10px 2px;
}

li button:hover {
  cursor: pointer;
}
